<!--(include)-->macros.include<!--(end)-->#!

================================================================================
Class:        ${cls.name}$
================================================================================
Class type:   ${cls.type}$
Base Class:   ${cls.parent.name if cls.parent else None}$
Hierarchy:     ${list(cls.hierarchy)}$
InheritsFull: ${cls.inherits_full}$
Namespaces:   ${list(cls.namespaces)}$
File:         ${cls.file}$
Ctor enable:  ${cls.ctor_enable}$
Dtor enable:  ${cls.dtor_enable}$

Constructors:
=============
<!--(for ctor in cls.constructors)-->
 * ${ctor}$
<!--(else)-->
 no constructors available
<!--(end)-->

Methods:
========
<!--(for func in cls.methods)-->
 * ${func.name}$(...) ${func.method_scope}$
<!--(else)-->
 no methods available
<!--(end)-->

Properties:
===========
<!--(for func in cls.properties)-->
 * ${func.name}$ (<!--(for v in func.getter_values)-->${v.type.c_type}$ ${v.name}$, <!--(end)-->)
<!--(else)-->
 no properties available
<!--(end)-->

Methods:
========
<!--(for func in cls.methods)-->
 * ${func.name}$ (<!--(for v in func.getter_values)-->${v.type.c_type}$ ${v.name}$, <!--(end)-->)
<!--(else)-->
 no getters available
<!--(end)-->

Events:
=======
<!--(for event in cls.events)-->
 * ${event.name}$ -> ${event.c_name}$
<!--(else)-->
 no events available
<!--(end)-->




================================================================================
Namespace:    ${namespace}$
================================================================================

Classes:
========
<!--(for cls in namespace.classes)-->
 * ${cls.name}$   (${cls.type}$)
<!--(else)-->
 no classes available
<!--(end)-->

Aliases:
========
<!--(for typedecl in namespace.aliases)-->
 * ${typedecl.name}$
<!--(else)-->
 no alias available
<!--(end)-->

Structs:
========
<!--(for typedecl in namespace.structs)-->
 * ${typedecl.name}$
    <!--(for field in typedecl.struct_fields)-->
    ${field}$
    <!--(end)-->
<!--(else)-->
 no structs available
<!--(end)-->

Enums:
======
<!--(for typedecl in namespace.enums)-->
 * ${typedecl.name}$
    <!--(for field in typedecl.enum_fields)-->
    ${field}$
    <!--(end)-->
<!--(else)-->
 no enums available
<!--(end)-->

